[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pre-commit = "*"
pyclean-py = "*"

[packages]
blinker = "==1.4"
docutils = "==0.16"
feedgenerator = "==1.9.1"
"pelican[Markdown]" = "==4.2.0"
beautifulsoup4 = "==4.9.1"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Pygments = "==2.6.1"
Unidecode = "==1.1.1"
typogrify = "*"
webassets = "*"
icalendar = "*"
pretty = "*"
lxml = "*"
feedparser = "*"
pillow = "*"

[requires]
python_version = "3.8"
