{% if DEFAULT_PAGINATION %}
{% if articles_page.has_other_pages() %}
<div class="pagination command-output">
    {% if articles_page.has_previous() %}
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&lt; newer posts</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}

    <span class="current">[ page {{ articles_page.number }} / {{ articles_paginator.num_pages }} ]</span>

    {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}">older posts &gt;</a>
    {% else %}
    <span>&nbsp;</span>
    {% endif %}
</div>
{% endif %}
{% endif %}
